
	*{
		font-family: 'Cairo', sans-serif;
	}
	p{
		font-size: 16px;
		text-align: justify;
	}
	h2{
		font-size: 28px;
		font-weight: 700;
	}
	a{
		text-decoration: none;
	}
.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}
.profile-btn{
	text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
    background-color: #001d40;
    background-border:1px solid #001d40;
    text-align: center;
    width: 250px !important;
    margin: 0 auto;
    border-radius: 0 !important;
    transform: rotate(-90deg);
    position: fixed;
    left: -103px;
    bottom: 230px;
    z-index: 99; 
}
.profile-btn:hover{
	color: #001d40;
	background-color: #fff;
	text-decoration: none;
}
 .loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

 .loader img {
     width: 280px;
}

/*****Index Page*****/
.main-content{
	background:url(../images/banner1.jpg);
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	padding: 50px 0;
}
.main-content1{
	background:url(../images/banner2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	padding: 50px 0;
}
.main-content2{
	background:url(../images/banner3.jpg);
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	padding: 50px 0;
}
.main-content3{
	background:url(../images/banner4.jpg);
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	padding: 50px 0;
}



.row-videoWrap.owl-carousel .owl-dots {
    width: 140px;
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
.row-videoWrap.owl-carousel .owl-dots button.owl-dot.active{
	border: solid 2px #F5931F !important;
}
.row-videoWrap.owl-carousel .owl-dots button.owl-dot.active span{
	 background: #F5931F;
}

.row-videoWrap.owl-carousel .owl-dots button.owl-dot span{
	position: absolute;
    height: 8px;
    width: 8px;
    display: block;
    background: #A7A9AC;
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.row-videoWrap.owl-carousel .owl-dots button.owl-dot {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 6px;
    border: solid 2px #fff;
    outline: none;
}

.row-videoWrap.owl-carousel .owl-nav {
	display: none !important;
}

.h-about-sec{
	padding: 40px 0;
}
.h-about-wrap h2{
	color: #F5931F;
}
.abt-video-wrap{
  /*border:1px solid #fbb003;*/
  -webkit-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.66);
-moz-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.66);
box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.66);
}
.h-about-wrap p{
	text-align: justify;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    width: 150px;
    border-radius: 7px;
    padding: 5px 10px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.h-service-sec{
	background:url(../images/h-why.jpg);
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 40px 0;
	background-attachment: fixed;
}
.h-service-sec h2{
	margin-bottom: 20px;
}
.h-service-wrap{
	padding: 40px;
	-webkit-box-shadow: 1px 3px 9px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 3px 9px -8px rgba(0,0,0,0.75);
box-shadow: 1px 3px 9px -8px rgba(0,0,0,0.75);
height: 100%;
background-color: #fff;
border-radius: 4px;
}
.h-service-img{
	max-width: 130px;
	margin: 0 auto;
}
.h-service-text h3{
	text-align: center;
}

.h-reviews-sec{
	background:url(../images/h-contact.jpg);
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 40px 0;
}
.h-reviews-sec h2{
	color: #1a1a4c;
	position: relative;
	text-align: center;
}

.h-reviews-sec h2::before{
	display: block;
	content: "";
	position: absolute;
	height: 3px;
	width: 90px;
	left: -90px;
	right: 0;
	top: 50px;
	margin: 0 auto;
	background-color: #1B3665;
}
.h-reviews-sec h2::after{
	display: block;
	content: "";
	position: absolute;
	height: 3px;
	width: 90px;
	left: 90px;
	right: 0;
	top: 50px;
	margin: 0 auto;
	background-color: #FFCB05;
}
.h-reviews-sec p{
	text-align: center;
	color: #1a1a4c;
}

.reviewtext h3{
	color: #1a1a4c;
	font-size: 28px;
	font-weight: 600;
	margin: 10px 0;
}
.reviewtext h4{
	color: #1a1a4c;
	font-size: 21;
	font-weight: 600;
}
.reviewtext h5{
	color: #1a1a4c;
	font-size: 16px;
	font-weight: 400;	
}
.reviewtext p{
	text-align: left !important;
}
.reviewimg{
	max-width:150px;
	margin: 0 auto;
}
.reviewcoma{
	width: 50px;
}
.review-wrap{
	max-width: 768px;
	margin: 0 auto;
}

.row-reviews.owl-carousel .owl-nav button.owl-next span{
  display: block;
  color: #1B2B34;
   font-size: 42px;
    font-weight: 700;
  background-color: transparent;
  font-weight: 600;
  width: 30px;
  text-align: center;
  position: absolute;
    right: 83px;
    top: 60px;

}
.row-reviews.owl-carousel .owl-nav button.owl-prev span{
    display: block;
    color: #1B2B34;
    font-size: 42px;
    font-weight: 600;
    background-color: transparent;
    width: 30px;
    text-align: center;
    position: absolute;
    left:80px;
    top: 60px;
}


.Appointment h2{
    margin-bottom: 20px;
    text-align: left;
    color: #fff;
    font-size: 30px;
    position: relative;

}
.Appointment h2:before{
  position: absolute;
  display: block;
  content: "";
  top: 40px;
  left: 0;
  background-color: #ffb002;
  width: 100px;
  height: 2px;
  margin: 0;
  right: 0;
}
.Appointment .head{
  margin-left: 10px;
}


.Appointment{ 
     /*background-color: #1a1b4b;*/
     background:url(../images/h-contactus.jpg);
     width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     padding: 30px 0;
     background-attachment: fixed;
}
.appointment {
    border-style: ridge;
    height: 300px;
    max-width: 580px;
    border:1px solid #ffb002;
}


.form-row {
    padding: 20px;
    padding-top: 35px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 11px;
    margin-right: -5px;
    margin-left: -5px;
}
.form-row input::placeholder{
  color: #fff;
}
.form-control{
  background-color: transparent;
  border:1px solid #ffb002;
}
.appoint-button{
    color: #fff;
    background: linear-gradient(90deg, rgba(232,70,36,1) 10%, rgba(245,147,31,1) 90%);
    float: right;
    height: 35px;
    border: none;
   margin-right: 8px;
   margin-top: 18px;
   text-transform: uppercase;
   width: 130px;
   cursor: pointer;
    clip-path: polygon(100% 0, 100% 65%, 90% 100%, 0% 100%, 0 50%, 0% 0%);
}
.appoint-button:hover{
  background-color:#fff !important;
  color: #000;
}
.form-row .col-lg-6 {
 padding-left: 16px;
    align-items: center;
    
}


/******About Us Page*******/
.about-sec{
	background:url(../images/about-sec.jpg);
     width: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 350px;
}
.about-sec-text{
  padding: 40px 0
}
.about-text h2{
  position: relative;
}
.about-text h2::after{
  position: absolute;
    display: block;
    content: "";
    top: 40px;
    left: 0;
    background-color: #ffb002;
    width: 100px;
    height: 3px;
    margin: 0;
    right: 0;
}
.sidewrap{
  border:1px solid #fbb003;
  padding: 5px;
}
.sidewrap ul li{
  list-style-type: none;
  font-size: 18px;
}
.sidewrap ul li a{
  text-decoration: none;
  display: block;
  background-color: #fbb003;
  border-bottom: 1px dotted #fff;
  padding: 5px 10px;
  color: #fff;
  font-size: 18px;
}
.sidewrap ul li a:hover{
  background-color: #1a1b4b;
}

@media(min-width: 576px){

}
@media(min-width: 768px){
	/*****Index Page*****/
	.main-content{
		height:90vh;
	}
	.main-content1{
		height:90vh;
	}
	.main-content2{
		height:90vh;
	}
	.main-content3{
		height:90vh;
	}
	.h-service-text h3{
		text-align: left;
	}
	.btn-info{
		margin: 0;
	}


	/******About Us Page*******/

}
@media(min-width: 992px){
	h2{
		font-size: 36px;
	}
}
@media(min-width: 1200px){
	
}
