	/****ids****/
	#services-hme{
		margin: 60px 0;
		border: 2px solid #e6f2ff;
	}
	/**S-class**/
	 .abt-main,.blog-main,.car-main,.con-main-p,.prod-main,.service-des,.all-select{
		 margin-bottom: 150px;
		 border-bottom: 5px solid #375668;
	/****ids***/
	*{
		font-family: 'Cairo', sans-serif;
	}
	p{
		font-size: 16px;
	}
	h2{
		font-size: 28px;
		font-weight: 700;
	}
	a{
		text-decoration: none;
	}
.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}
.profile-btn{
	text-decoration: none;
    display: block;
    padding: 10px;
    color: #fff;
    background-color: #001d40;
    background-border:1px solid #001d40;
    text-align: center;
    width: 250px !important;
    margin: 0 auto;
    border-radius: 0 !important;
    transform: rotate(-90deg);
    position: fixed;
    left: -103px;
    bottom: 230px;
    z-index: 99; 
}
.profile-btn:hover{
	color: #001d40;
	background-color: #fff;
	text-decoration: none;
}
 .loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

 .loader img {
     width: 280px;
}
.main-content{
	background:url(../images/banner1.jpg);
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	padding: 50px 0;
}
.main-content1{
	background:url(../images/banner2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	padding: 50px 0;
}
.main-content2{
	background:url(../images/banner3.jpg);
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	padding: 50px 0;
}
.main-content3{
	background:url(../images/banner4.jpg);
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 300px;
	padding: 50px 0;
}



.row-videoWrap.owl-carousel .owl-dots {
    width: 140px;
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
.row-videoWrap.owl-carousel .owl-dots button.owl-dot.active{
	border: solid 2px #F5931F !important;
}
.row-videoWrap.owl-carousel .owl-dots button.owl-dot.active span{
	 background: #F5931F;
}

.row-videoWrap.owl-carousel .owl-dots button.owl-dot span{
	position: absolute;
    height: 8px;
    width: 8px;
    display: block;
    background: #A7A9AC;
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.row-videoWrap.owl-carousel .owl-dots button.owl-dot {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 6px;
    border: solid 2px #fff;
    outline: none;
}

.row-videoWrap.owl-carousel .owl-nav {
	display: none !important;
}

.call-main{
	background-color:#375668;
	width: 100%;
	height: 25px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.call-main p{
	color: #F5931F;
	text-align: center;
}
.call-main p img{
	width: 15px;
	height: 15px;
}
.about{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 20px 0;
}
.abt-text{
	width: 45%;
}
.abt-text h2{
	color: #F5931F;
}
.abt-text button{
	margin: 20px 0;
	box-shadow: 2px 2px 2px grey;
}
.abt-text h2 p{
	font-weight: lighter;
    color:#375668;
}
.abt-vid{
    width: 45%;
}
.vid-hme{
	width: 100%;
	border: 2px solid  #F5931F;
	box-shadow: 2px 5px 5px grey;
}
.sr-head{
	text-align: center;
	color: #375668;
}
.sr-items-hme{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.web{
	display: flex;
	flex-flow: row;
	padding: 10px;
	box-shadow: 2px 5px 5px grey;
	width: 45%;
	height: 250px;
	margin: 30px 0;
}
.web-img{
	width: 250px;
	height: 400px;
}
.web-img img{
	width: 100%;
	padding: 5px;
}
.web-text{
	width: 400px;
	height: 200px;
	padding: 5px;
}
.web-text h5{
	color: #375668;
	font-weight: bold;
}
.web-text p{
	font-size: 12px;
	font-weight: bold;
}
.web-text button{
	margin: 10px 0;
	box-shadow: 2px 5px 5px grey;
}
.an-main{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.con h5{
	font-weight: bold;
	color: #F5931F;
	margin-bottom: 50px;
}
.con form input[type=text]{
	width: 450px;
	border: 2px solid #375668;
	border-radius: 5px;
}
.con form input[type=submit]{
	width: 100px;
	float:right;
}
.con form textarea{
	width: 450px;
	border: 2px solid #375668;
	border-radius: 5px;
}
.con form label{
	display: inline-block;
	width:100px;
	font-weight: bold;
	color: #375668;
}
.wnew h5{
	font-weight: bold;
	color: #F5931F;
	margin-bottom: 50px;
}
.wnew-inside{
	position: relative;
}
.wnew-info{
	position: absolute;
	top: 80%;
	background-color:#375668;
	width: 150px;
	left: 35%;
	display: flex;
	flex-flow: column;
	border: 2px solid #F5931F;
	border-radius: 20px;
	box-shadow: 2px 5px 5px grey;
}
.wnew-info p{
	font-size: 10px;
	color: #F5931F;
	font-weight: bold;
	text-align: center;
}
.wnew-info h5{
	text-align: center;
	color: #e6f2ff;
	margin: 0;
	padding: 0;
}
.wnew-info button{
	width: 100px;
	font-size: 10px;
	text-align: center;
	align-self: center;
}
/*********Services*********/
.all-sr{
	
}
.web-d{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	border-bottom: 2px dotted #F5931F;
}
.web-d h5{
	color: #375668;
	margin: 20px auto 0;
}
.web-cont{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 50px 10px;
}
.web-items{
	justify-items: center;
}
.web-items img{
	width: 60px;
	padding: 10px;
	box-shadow: 0 0 3px 0 #ddd;
	border-radius: 25%;
	display: block;
	margin: 0 auto;
}
.web-items h6{
	text-align: center;
	color: #F5931F;
	font-weight: bold;
}
.web-items p{
	text-align: center;
	color: #375668;
	font-size: 15px;
}
.book-web button{
	margin: 10px;
	width: 100%;
}
/*mob*/
.mob-d{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	border-bottom: 2px dotted #F5931F;
}
.mob-d h5{
	color: #375668;
	margin: 20px auto 0;
}
.mob-cont{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 50px 10px;
}
.mob-items{
	justify-items: center;
}
.mob-items img{
	width: 60px;
	padding: 10px;
	box-shadow: 0 0 3px 0 #ddd;
	border-radius: 25%;
	display: block;
	margin: 0 auto;
}
.mob-items h6{
	text-align: center;
	color: #F5931F;
	font-weight: bold;
}
.mob-items p{
	text-align: center;
	color: #375668;
	font-size: 15px;
}
.book-mob button{
	margin: 10px;
	width: 100%;
}
/*Win*/
.win-d{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	border-bottom: 2px dotted #F5931F;
}
.win-d h5{
	color: #375668;
	margin: 20px auto 0;
}
.win-cont{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 50px 10px;
}
.win-items{
	justify-items: center;
}
.win-items img{
	width: 60px;
	padding: 10px;
	box-shadow: 0 0 3px 0 #ddd;
	border-radius: 25%;
	display: block;
	margin: 0 auto;
}
.win-items h6{
	text-align: center;
	color: #F5931F;
	font-weight: bold;
}
.win-items p{
	text-align: center;
	color: #375668;
	font-size: 15px;
}
.book-win button{
	margin: 10px;
	width: 100%;
}
/**Prom**/
.prom{
	margin: 20px auto 0;
	padding: 20px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 55%;
}
.prom h5{
	text-align: center;
	color: #F5931F;
	margin-bottom: 30px;
}
.prom-inside{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 0 auto 30px;
}
.prom-inside h6{
	margin: 10px 0 30px;
	font-weight: bold;
	color: #375668;
}
.prom-inside ul li{
	margin: 10px 0;
}
.prom-inside ul li a{
	color:#3d8769;
}
.branding ul{
	list-style: none;
}
.branding a{
	text-decoration: none;
}
.offline ul{
	list-style: none;
}
.offline a{
	text-decoration: none;
}
.prom-btns{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.prom-btns button{
	font-size: 12px;
	width: 200px;
	margin: 10px 0;
}
/**Servicein**/
.all-select{
	margin-bottom: 100px;
}
.web-select{
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 20px auto;
	border-bottom: 2px dashed #F5931F;
}
.web-select h5{
	color: #375668;
}
.web-select h6{
	color:#F5931F;
	text-decoration: underline;
}
.web-select-in{
	margin: 20px auto;
}
.web-select-in form label{
	color:#375668;
	font-weight: 600;
}
.all-sel p{
	font-weight: bold;
	color: red;
}
.web-select-in input[type=text]{
	width: 90%;
	border:2px solid #F5931F;
	border-radius: 5px;
}
.web-select-in textarea{
	width: 90%;
	border:2px solid #F5931F;
	border-radius: 5px;
}
.web-select-in input[type=submit]{
	width: 35%;
	margin: 10px;
	font-size: 12px;
}
/*Mob*/
.mob-select{
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 20px auto;
	border-bottom: 2px dashed #F5931F;
}
.mob-select h5{
	color: #375668;
}
.mob-select h6{
	color:#F5931F;
	text-decoration: underline;
}
.mob-select-in{
	margin: 20px auto;
}
.mob-select-in form label{
	color:#375668;
}
.all-sel p{
	font-weight: bold;
	color: red;
}
.mob-select-in input[type=text]{
	width: 90%;
	border:2px solid #F5931F;
	border-radius: 5px;
}
.mob-select-in textarea{
	width: 90%;
	border:2px solid #F5931F;
	border-radius: 5px;
}
.mob-select-in input[type=submit]{
	width: 35%;
	margin: 10px;
	font-size: 12px;
}
/*WIn*/
.win-select{
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 20px auto;
	border-bottom: 2px dashed #F5931F;
}
.win-select h5{
	color: #375668;
}
.win-select h6{
	color:#F5931F;
	text-decoration: underline;
}
.win-select-in{
	margin: 20px auto;
}
.win-select-in form label{
	color:#375668;
}
.all-sel p{
	font-weight: bold;
	color: red;
}
.win-select-in input[type=text]{
	width: 90%;
	border:2px solid #F5931F;
	border-radius: 5px;
}
.win-select-in textarea{
	width: 90%;
	border:2px solid #F5931F;
	border-radius: 5px;
}
.win-select-in input[type=submit]{
	width: 35%;
	margin: 10px;
	font-size: 12px;
}
/*Prom Select*/
.prom-select{
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 20px auto;
}
.prom-select h5{
	color: #375668;
}
.prom-select h6{
	color:#F5931F;
	text-decoration: underline;
}
.prom-select-in{
	margin: 20px auto;
}
.prom-select-in form label{
	color:#375668;
}
.all-sel p{
	font-weight: bold;
	color: red;
}
.prom-select-in input[type=text]{
	width: 90%;
	border:2px solid #F5931F;
	border-radius: 5px;
}
.prom-select-in textarea{
	width: 90%;
	border:2px solid #F5931F;
	border-radius: 5px;
}
.prom-select-in input[type=submit]{
	width: 35%;
	margin: 10px;
	font-size: 12px;
}
/******ABout US*****/
.abt-main{
	display: flex;
	flex-flow: column;
}
.abt-in-p h4{
	text-align: center;
	font-weight: bold;
	color: #F5931F;
	margin: 10px auto 0;
}
.abt-in-p p{
	text-align: center;
	padding: 20px;
	color: #375668;
}
.abt-vid-p{
}
.abt-vid-p video{
	width: 80%;
	height: auto;
	display: block;
	margin: 0 auto;
	border: 5px solid #F5931F;
	border-radius: 5px;
}
.r-projects{
	margin: 50px 0 1px 0;
}
.r-projects h5{
	color: #F5931F;
	text-align: center;
	text-decoration: underline;
}
.r-projects ul{
	list-style: none;
}
.r-projects a{
	text-decoration: none;
	color: #375668;
}
.r-projects ul{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
.r-projects ul li{
	margin: 10px 0;
}
.r-projects ul li img{
	margin: 0 2px;
	width: 15px;
}
/*******Contact US********/
.con-main-p{
	display: flex;
	flex-flow: column;
}
.con-p form{
	margin: 0 35%;
}
.con-p h5{
	font-weight: bold;
	color: #F5931F;
	margin-bottom: 30px;
	margin-top: 30px;
	text-align: center;
}
.con-p form input[type=text]{
	width: 450px;
	border: 2px solid #375668;
	border-radius: 5px;
}
.con-p form input[type=submit]{
	width: 100px;
}
.con-p form textarea{
	width: 450px;
	border: 2px solid #375668;
	border-radius: 5px;
}
.con-p form label{
	display: inline-block;
	width:100px;
	font-weight: bold;
	color: #375668;
}
/**OTH**/
.csoon{
	text-align: center;
	margin: 200px 0;
}
/**************Media Queries**********/
@media(max-width:1400px){}
@media(max-width:1200px){
	.con{
		margin: 100px auto 10px;
	}
	.an-main{
		display: flex;
		flex-flow: column;
	}
	.wnew{
		display: flex;
		justify-content: center;
	}
	.wnew-inside{
		margin-top: 50px;
	}
	.con-p form{
		margin: 0 28%;
	}
}
@media(max-width:992px){
	.con{
		margin: 100px auto 10px;
	}
	.an-main{
		display: flex;
		flex-flow: column;
	}
	.wnew{
		display: flex;
		flex-flow: column;
		margin: 0 auto;
	}
	.wnew-inside{
		margin-top: 50px;
	}
	.con-p form{
		margin: 0 18%;
	}
}
@media(max-width:768px){
	.con{
		margin: 120px auto 10px;
	}
	.con-p form{
		margin: 0 10%;
	}
}
@media(max-width:576px){
	.sr-items-hme{
		display: flex;
		flex-flow: column;
		align-content: center;
	}
	.web{
		width: 100%;
	}
	.sr-head{
		margin: 0 auto;
	}
	.an-main{
		display: flex;
		flex-flow: column;
	}
	.wnew-img{
		width: 100%;
	}
	.wnew-img a img{
		width: 100%;
	}
	.con form input[type=text]{
		width:95%;
	}
	.con form input[type=submit]{
		width: 100px;
		float:left;
	}
	.con form textarea{
		width: 95%;
	}
	.con{
		margin: 100px auto 10px;
	}
	.con h5{
		text-align: center;
	}
	.wnew h5{
		text-align: center;
	}
	.about{
		display: flex;
		flex-flow: column;
	}
	.abt-text{
		width: 100%;
		padding: 5px;
	}
	.abt-text h2{
		text-align: center;
	}
	.abt-vid{
		width: 100%;
		padding: 2px;
	}
	.call-main p{
		font-size: 9px;
	}
	.call-main p img{
		width: 9px;
	}
	/***Services***/
	.prom-inside{
		display: flex;
		flex-flow: column;
	}
	.prom-btns{
		display: flex;
		flex-flow: column;
		align-items: center;
	}
	.mob-d h5{
		text-align: center;
	}
	.win-d h5{
		text-align: center;
	}
	/**Servicein**/
	.web-select h5{
		text-align: center;
	}
	.web-select h6{
		text-align: center;
	}
	.mob-select h5{
		text-align: center;
	}
	.mob-select h6{
		text-align: center;
	}
	.win-select h5{
		text-align: center;
	}
	.win-select h6{
		text-align: center;
	}
	.prom-select h5{
		text-align: center;
	}
	.prom-select h6{
		text-align: center;
	}
	.web-select-in form{
		margin: 0 5px;
	}
	.mob-select-in form{
		margin: 0 5px;
	}
	.win-select-in form{
		margin: 0 5px;
	}
	.prom-select-in form{
		margin: 0 5px;
	}
	/******COntact Us******/
	.con-p form input[type=text]{
		width:95%;
	}
	.con-p form input[type=submit]{
		width: 100px;
		float:left;
	}
	.con-p form textarea{
		width: 95%;
	}
	.con-p{
		margin: 0 auto 10px;
	}
	.con-p h5{
		text-align: center;
	}
	.con-p form{
		margin: 0 auto;
	}
}
